<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Merchant Home</title>
    <style>
        tr:nth-child(even)
        {
{#            background-color: ;#}
        }
        tr:hover {background-color: #46b8da;}
        th
        {
            background-color: green;
            color: white;
        }
        caption {
            caption-side: top;
        }
    </style>
</head>
<body style="background-color: skyblue">
<nav class="navbar navbar-inverse" style="background-color: darkblue">
  <div class="container-fluid">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
          <span class="glyphicon glyphicon-log-in"></span>
      </button>
      <a class="navbar-brand navbar-right" href="/homepage/"><span class="glyphicon glyphicon-print"></span> Home</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li>
          {% for order in myorders|slice:":1" %}
              <a href="/printf/merchantOrder/">
          <span class="glyphicon glyphicon-time"></span> Pending Orders</a>
          {% endfor %}
      </li>
      <li>
          {% for order in myorders|slice:":1" %}
              <a href="/printf/updateMerchant/{{ order.merchant_id }}">
          <span class="glyphicon glyphicon-cog"></span> Update Profile</a>
          {% endfor %}
      </li>
      <li><a href="/logout/"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
        <table class="table table-striped table-bordered table-hover">
        <h3>Completed Orders</h3>
        <tr>
            <th>Quantity</th>
            <th>Date of Order</th>
            <th>Date of Delivery</th>
            <th>Customer name</th>
            <th>File name</th>
            <th>Status</th>
        </tr>
            {% for order in myorders%}
            {% if order.completed %}
                <tr onclick="fn({{ order.id }})">
                <td>{{ order.qty }}</td>
                <td>{{ order.date_of_order }}</td>
                <td>{{ order.date_of_delivery }} </td>
                <td>{{ order.customer.name }} </td>
                <td><a href="{{ order.docfile.url }}">{{ order.docfile.name }}</a></td>
                <td>{{ order.completed }}</td>
                </tr>
            {% endif %}
            {% endfor %}
        </table>
</div>
</body>
{#<script>#}
{##}
{#    function  fn(order_id) {#}
{#        if (window.confirm('completed?'))#}
{#        {#}
{#            window.location = "/printf/updateOrder/"+order_id;#}
{#        }#}
{#        else#}
{#        {#}
{##}
{#        }#}
{#    }#}
{#</script>#}
</html>
